* {
  font-family: 'Roboto', serif;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100%;
  background: black;
  color: white;
  text-align: center;

  header {
    min-height: 84.5px;
  }

  h1 {
    margin: 16px 0 8px 0;
  }

  h6 {
    margin: 0;
  }

  .lineChartWrapper {
    height: calc(100dvh - var(--sl-header-height));
  }

  .allGood {
    color: lightseagreen;
  }

  .mild {
    color: greenyellow;
  }

  .moderate {
    color: yellow;
  }

  .severe {
    color: orange;
  }

  .worst {
    color: red;
  }
}
